/*
===========================
Navbar
===========================
*/
.main-navbar {
	background: #769A38;
	padding: 20px 0;
	margin-bottom: 0;
	border: 1px solid #769A38;
	border-radius: 0;
}

.navbar-header .navbar-brand,
.navbar .nav li a,
.navbar .nav li a:visited {
	color: #eee;
}

.navbar-header .navbar-brand {
	font-size: 2em;
	font-weight: bold;
}

.navbar .nav li a {
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-header .navbar-brand:hover ,
.navbar .nav li a:hover {
	color: #fff;
}

.navbar-nav .dropdown:dropdown {
	background: #607D2E;
}

.dropdown-menu {
	background: #769A38;
}

.dropdown-menu li a:hover {
	background: #607D2E;
}

.navbar-header button,
.navbar-header button:visited {
	background: #eee;
}

.nav .dropdown .dropdown-toggle {
	border-radius: 15px;
}

.nav .dropdown .dropdown-toggle:focus {
	background: red;
}


/*
===========================
Carousel
===========================
*/

#myCarousel img {
	width: 100%
}


/*
===========================
Foter
===========================
*/

.site-footer {
	background: #769A38;
	color: #eee;
	vertical-align: bottom;
	padding: 15px 20px;
	font-size: 0.75em;
}