/*
===========================
Changde media query
Para que la navbar colapse tambien en sm
===========================
*/
	@media (max-width: 991px) {
	    .navbar-header {
	        float: none;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	    .navbar-text {
	        float: none;
	        margin: 15px 0;
	    }
	    /* since 3.1.0 */
	    .navbar-collapse.collapse.in { 
	        display: block!important;
	    }
	    .collapsing {
	        overflow: hidden!important;
	    }
	}
/*===========================*/

/*
===========================
Main
===========================
*/
* {
  -webkit-box-sizing: border-box;
  	 -moz-box-sizing: border-box;
  		  box-sizing: border-box;
}

.container,
.container-fluid {
	background-color: #eee;
}

.container-green {
	background-color: #769A38;
}

.container-full {
	padding: 0;
}


/*
===========================
Navbar
===========================
*/
.main-navbar {
	background: #769A38;
	padding: 1.1em 0;
	margin-bottom: 0;
	border: 1px solid #769A38;
	border-radius: 0;
}

a.navbar-brand {
	float: none;	
	display: inline-block;
	height: auto;
	padding: 15px 3px;
}

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:focus,
.navbar .nav li a,
.navbar .nav li a:visited {
	color: #ddd;
}

.navbar-header .navbar-brand {
	font-size: 2.1em;
	font-weight: bold;
	padding-top: 0.3em;
}

.navbar .nav li a {
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-header .navbar-brand:hover ,
.navbar .nav li a:hover {
	color: #fff;
}

.dropdown-menu {
	background: #769A38;
}

.dropdown-menu li a:hover {
	background: #607D2E;
}

.navbar-header button {
	background: #ddd;
}

.nav .dropdown .dropdown-toggle:focus {
	color: #ddd;
}

.nav .dropdown .dropdown-toggle {
	border-radius: 15px 15px 0 0;
}

.navbar-brand p {
	margin-top: 0.2em;
	font-weight: normal;
	font-size: 0.5em;
}

.nav .dropdown .dropdown-menu {
	border-top-left-radius: 5px;
}

.nav .dropdown .dropdown-menu:focus {
	border-top-left-radius: 5px;
}

.nav .dropdown .dropdown-menu li a:link,
.nav .dropdown .dropdown-menu li a:visited,
.nav .dropdown .dropdown-menu li a:focus,
.nav .dropdown .dropdown-menu li a:hover {
	color: #fff
}

.navbar .title-sacateundiez {
	margin-right: 0.05em;
} /*Pequeña separación de las palabras
	en el titulo de la pagina*/


/*
===========================
Carousel
===========================
*/

body {
	margin: 0;
	display: block;
	height: 100%;
	min-width: 320px;
}
.site-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: red;
}

@media (max-height: 600px) {
	.site-footer {
		position: relative;
	}
}

.footer-container {
	background-color: #769A38;
}

#myCarousel {
	margin: 0;
	/*max-width: 1280px;*/
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#myCarousel img {
	min-height: 500px;
	/*width: 100%;*/
	margin: 0;
}

.carousel-indicators,
.carousel-caption {
	margin-bottom: 3.5em;
}

.btn-precios {
	margin-bottom: .7em;
	font-size: 1.5em;
	border-radius: 5px;
}

.btn-precios a:link,
.btn-precios a:visited,
.btn-precios a:hover {
	text-decoration: none;
}

.carousel-caption p {
	font-size: 1.2em;
	font-weight: bold;
}


/*
===========================
Foter
===========================
*/

.site-footer {
	background: #769A38;
	color: #eee;
	vertical-align: bottom;
	padding: 15px 20px;
	font-size: 0.75em;
}


/*
===========================
Titles
===========================
*/

.title {
	margin: 1em 0;
}

.title-primaria p,
.title-secundaria p {
	font-size: 0.4em;
	margin-left: 0.6em;
}


/*
===========================
Materias
===========================
*/

.lista-materias,
.lista-precios {
	list-style: none;
	font-size: 1.6em;
	margin-bottom: 2em;
}

.lista-carreras {
	list-style: none;
	margin-bottom: 1em;
}

.lista-carreras li {
	margin-left: 2em;
}

.lista-carreras li:first-child {
	font-size: 1.2em;
	color: #607D2E;
	margin-left: 0;
	text-transform: uppercase;
}


/*
===========================
Contacto
===========================
*/

.contact-page {
	margin-bottom: 5em;
}







/*
=============================
Para que aparezca la linea arriba
 del titulo */
.line-top-left {
	margin: 0;
	padding: 0;
	width: 16.6em;
	border-top: 0.2em solid #eee;
}
.navbar {
	padding-top: 0;
}
.navbar .navbar-collapse,
.navbar .navbar-header {
	padding-top: 1em;
}
